@font-face{

    font-family: 'Lato-Regular';
    
    src: url('./assets/Lato-Regular.eot');
    
    src: url('./assets/Lato-Regular.eot?iefix') format('eot'),
    
    url('./assets/Lato-Regular.woff') format('woff'),
    
    url('./assets/Lato-Regular.ttf') format('truetype'),
    
    url('./assets/Lato-Regular.svg#webfont') format('svg');
    
    font-weight: normal;
    
    font-style: normal;
    
    }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Lato-Regular',  Verdana, sans-serif;
}
body{
    margin-left: auto;
    margin-right: auto;
    max-width: 1020px;

}
.header-main,
.slider-main,
.services-main{
    padding-left: 40px;
    padding-right: 40px;
}

.header-main{
    position: relative;
    height: 89px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #2d303a;
    color: #ffffff;
    text-transform: uppercase;
  
}
.logo{
    padding-bottom: 1px;
    align-self: center;

    

}

.logo h1{
    font-size: 25.5px;  
    font-stretch: ultra-condensed;
    font-weight: 700;
    letter-spacing: -0.95px;  
}
.asterisk{
    
    color: #f06c64;
   
    
}

nav{
    padding-top: 10px;
    padding-bottom: 2px;
    font-size: 12px;
}

.nav-bar{

    display: flex;
    flex-flow: row nowrap;  
    list-style-type: none;  
    
}

.nav-separator{
    color: #494e62;
}


nav ul li{
    margin-left: 12.8px;
    flex-basis: auto;
    cursor: pointer;

}
nav ul li:hover{
    opacity: 0.8;

}

.nav-item-main{

    color: #f06c64;
    
}

.slider-main{
    height: 594px;
    padding-left: 41px;
    padding-bottom: 1px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    
    background-color: #f06c64;
}
.crooked{
    padding-bottom: 1px;
    
}
.slider-arrow{
    height: max-content;
    width: max-content;
    border: none;
    outline-style: none;
    background-color: transparent;
    cursor: pointer;
    opacity: 1;
    
}
.slider-arrow img:hover{
    opacity: 0.5;  
    
}
.slide{
    padding-bottom: 4px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center; 
    
}
.img-separator{
    height: 0px;
    width: 72.5px;
}



.services-main{
    
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    color: #666d89;
    background-color: #f2f2f2;
}

.services-head{
    padding-top: 59px;
    
}
.services-head h1{
    font-size: 30px;
    font-stretch: ultra-expanded;
    letter-spacing: 0.3px;
    font-weight: 700;
}
.services-head p{
    padding-top: 19px;
    font-size: 19px;
    font-weight: 100;
    font-stretch: ultra-condensed;
    letter-spacing: -0.9px;
    word-spacing: 1px;
    line-height: 30px;
}    

.services-grid{
    padding-top: 40px;
    
    display: grid;
    grid-template: auto auto / auto auto auto;
    justify-content: space-between;

   
}

.service-item{
    width: 300px;
    margin-bottom: 25px;
    display: grid;
    grid-template: auto auto / auto auto;
    
}
.service-icon{
    padding-top: 6px;
    padding-right: 20px;
    grid-area: 1 / 1 / span 2 / span 1;
}
.service-item h3{
    padding-top: 1px;
}
.service-item p{
    padding-top: 8px;
    font-size: 11px;
    line-height: 2em;
    overflow: hidden;
}

.header-bottom{
    
    height: 6px;
    background-color: #323746;
}
.slider-bottom{
    height: 6px;
    background-color: #ea676b;
}
.services-bottom{
    height: 6px;
    background-color: #ffffff;
}



