@font-face{

    font-family: 'Lato-Regular';
    
    src: url('./assets/Lato-Regular.eot');
    
    src: url('./assets/Lato-Regular.eot?iefix') format('eot'),
    
    url('./assets/Lato-Regular.woff') format('woff'),
    
    url('./assets/Lato-Regular.ttf') format('truetype'),
    
    url('./assets/Lato-Regular.svg#webfont') format('svg');
    
    font-weight: normal;
    
    font-style: normal;
    
    }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Lato-Regular',  Verdana, sans-serif;
}
html {
    font-size: 10px;
    scroll-behavior: smooth;
}
body{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 1020px;
    min-width: 320px;
}    
    

p{
    overflow: hidden;
    word-break: break-all;
    text-align: justify;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    max-width: inherit;
    z-index: 1000;
 
}
.main{
    padding-left: 40px;
    padding-right: 40px;
}
header p{
    font-size: 1.8rem;
    line-height: 3rem;
}
.main_header p{
    font-size: 1.8rem;
    line-height: 3rem;
}
h3{
    font-size: 1.9rem;
    line-height: 2.2rem;    
}

.main h1{
    padding-top: 71px;
    padding-bottom: 26px;
    font-size: 3rem;
    line-height: 1.8rem;
    font-stretch: extra-expanded;
    letter-spacing: -0.01rem;
    font-weight: 700;
}
.ancor-link {
    position: relative;
    top: -95px;
}

.nav-link,
.nav-link:visited,
.nav-link:active,
.nav-link:hover{
    color: inherit;  
    text-decoration: none;
      
}

.contact,
.small{
    font-size: 1.2rem;
    line-height: 2rem;  
}

.services h3{
    color: #666d89;
}

.person h3{
    margin-top: 20px;
    white-space: nowrap;
}



.header_main{
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
    height: 89px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #2d303a;
    color: #ffffff;
    text-transform: uppercase;
  
}
.logo{
    position: relative;
    margin-top: 2px;
    align-self: center;
    z-index: 3000;
    transition: all 0.3s ease;
}

.hamburger .hamburger__line {
    content: "|";
    
    position: absolute;
    font-size: 2.3rem;  
    font-stretch: ultra-condensed;
    font-weight: 400;
    letter-spacing: 0.2rem; 
  /* background: #ffffff;*/
  
  

}
  
  .hamburger {
    transform: rotate(90deg) translateY(-25%) translateX(15%);
    display: none;
    flex-flow: row nowrap;
    position: relative;
    width: 25px;
    height: 20px;
    z-index: 3000;
    transition: all 0.5s ease-out;
    cursor: pointer;
  }
  
/*  .hamburger .hamburger__line {
    top: calc( 50% - 1px );
  }
  */
  .hamburger__active {
    transform: unset;
    
}
.logo h1{
    font-size: 2.5rem;  
    font-stretch: ultra-condensed;
    font-weight: 700;
    letter-spacing: -0.035rem;  
}
.asterisk{
    
    color: #f06c64;
   
    
}

nav{
    padding-top: 10px;
    padding-bottom: 2px;
    font-size: 12px;
}

.nav-bar{

    display: flex;
    flex-flow: row nowrap;  
    list-style-type: none;  
    
}

.nav-item{
    margin-left: 12.8px;
    flex-basis: auto;
    cursor: pointer;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #ffffff;
}
.nav-separator{
    margin-left: 12.8px;
    flex-basis: auto;
    cursor: pointer;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #494e62;
}

.nav-item-active{
    color: #f06c64;

}

.nav-mobile{
    position: fixed;
    display: block;    
    top: 0;
    left: -100%;
    height: 100vh;
    width: 70vw;
    
    background-color: #2d303a;
    
    box-shadow: 0 0 10px #000;
    transition: all 0.3s ease;
}



/*---------------------секция слайдера--------------------*/
.slider{
    position: relative;
    margin-top: 95px;
    
}
.slider-wrapper{
    position: relative;

    transition: all 0.2s ease;
    overflow: hidden;
    width: 100%;

    
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: stretch;
    align-items: center;
    align-self: stretch;
    
}

.crooked{
    padding-bottom: 1px;
    
}
.slider-arrow{
    position: absolute;
    top: 50%;
    height: max-content;
    width: max-content;
    border: none;
    outline-style: none;
    background-color: transparent;
    cursor: pointer;
    opacity: 1;
    z-index: 100;
    transform: translateY(-50%);
}
.slider-arrow.left{
    left: 40px;
}
.slider-arrow.right{
    right: 40px;
}
.slider-arrow img:hover{
    opacity: 0.5;  
    
}

.slide{
    display: none;
    width: 100%;
    animation: 0.5s ease-in-out;
}
.slider_bottom{
    width: 100%;
}

.slide__grid{
    padding-top: 53px;
    padding-bottom: 61px;
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
    display: grid;
    grid-template: repeat(1, 100%) / 1fr auto 1fr auto 1fr;
    align-items: center;
}
.slide-1{
    background-color: #f06c64;
    
}
.slide-2{
    background-color: #648BF0;
   
}



#slide-2__img{
    position: relative;
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height:100%
}
.mini-tel{
    width: 156px;
    height: 314px;
    opacity: .5;
}


   
/* Анимация слайдов */
.slide-active{
    position: relative;
}
.slide-active,
.slide-next{
    display: block;
}
.slide-next{
    position: absolute;
    top: 0;
    width: 100%;
}

.to-left {
    animation-name: left;
}
  
.from-right {
    animation-name: right;
}
  
.to-right {
    animation-name: right;
    animation-direction: reverse;
}
  
.from-left {
    animation-name: left;
    animation-direction: reverse;
}


@keyframes left {
    from {
      left: 0;
    }
    to {
      left: -100%;
    }
  }
  
@keyframes right {
    from {
      left: 100%;
    }
    to {
      left: 0;
    }
}





/*Секция сервисов*/

.services .main{
    min-height: 494px;
  
    display: flex;
    flex-flow: column nowrap;
    color: #666d89;
    background-color: #f2f2f2;
}



  

.services_wrapper{
    margin-top: 41px;
    
    display: grid;
    grid-template: auto auto / auto auto auto;
    justify-content: center;
    gap: 2px 20px;
   
}

.service-item{
    max-width: 300px;
    margin-bottom: 29px;
    display: grid;
    grid-template: auto auto / auto auto;
    
}
.service-icon{
    margin-top: 4px;
    margin-right: 20px;
    grid-area: 1 / 1 / span 2 / span 1;
}
.service-item h3{
    padding-top: 1px;
}
.service-item p{
    padding-top: 8px;
    line-height: 2.1rem;
    overflow: hidden;
}
.slider_bottom{
    background-color: black;
    opacity: 0.03;
}
.header_bottom,
.slider_bottom,
.services_bottom,
.portfolio_bottom,
.about-us_bottom,
.comments_bottom{
   height: 6px;
}
.header_bottom,
.portfolio_bottom{
    background-color: #323746;
}

.comments_bottom{
    background-color: #ea676b;
}
.services_bottom,
.about-us_bottom{
    background-color: #ffffff;
}

.portfolio{
    background-color: #2d303a;
}
.about-us{
    background-color: #f2f2f2;
}

.portfolio h1,
.portfolio h3,
.portfolio p,
.portfolio li{
    color: #666d89;
}
.about-us h1,
.about-us h3,
.about-us p,
.about-us li{
    color: #666d89;
}
.portfolio h1,
.portfolio h3, 
.portfolio li{
    text-transform: capitalize;
}
.about-us h1,
.about-us h3, 
.about-us li{
    text-transform: capitalize;
}

.portfolio .main{
    height: auto;
    min-height: 863px;
}

.about-us .main{
    min-height: 728px;
}

.portfolio h1{
    letter-spacing: 0.1rem;
}


.portfolio-sort{
    margin-top: 9px;
    margin-left: 0px;
    display: flex;
    flex-flow: row nowrap;    
    list-style-type: none;
    justify-content: flex-start;
    
}
.portfolio-sort li{

    margin-right: 10px;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    font-size: 1.2rem;
    word-spacing: 0em;
    letter-spacing: -0.05px;
    

}
.sort-active{
    color: #ffffff !important; 
}
.portfolio-sort li:hover{
    opacity: 0.8;
}
.portfolio__image{
    width: 100%;
    cursor: pointer;
}

.portfolio__image-active{
    position: relative;
    left: 5px;
   
    width: calc(100% - 5px);
    height: calc(100% - 5px);
    border-width: 5px;
    border-color: #F06C64;
    border-style: solid;
}



.portfolio__wrapper{
    margin-top: 19px;
    display: grid;
    height: auto;
    grid-template: repeat(3, auto) / repeat(4, 1fr);
    justify-content: flex-start;
    align-content: flex-start;
    overflow: hidden;
    row-gap: 17px;
    column-gap: 20px;

}
.portfolio__project{
    width: 100%;
    height: auto;
    

}

.about-us__persons{
    margin-top: 43px;
    display: grid;
    grid-template: 1fr / repeat(3,1fr);
    justify-content: space-between;
    column-gap: 20px;
    row-gap: 20px;
}
.person{
    width: auto;
    
    display: grid;
}
.person img{
    width: 100%;
}

.person h3{
    margin-top: 16px;
    color: #666d89; 
    font-weight: 100;
}

.person p{
    margin-top: 9px;

}
.person__social-links{
    margin-top: 24px;
    display: flex;
}
.person__social-links a{
    margin-right: 8.5px;
    display: flex;
    padding: 8px;
    border-style: solid;
    border-radius: 50%;
    border-width: 1px;
    border-color: #666d89;
    align-content: center;
    justify-content: center;
    
}
.person__social-links a:hover{
    border-color: #f06c64;
    box-shadow: inset 0 0 10px #f06c64;
}

.comments{
    

    background-color: #f06c64;
}


.comments h1{
 
    text-transform: none;
}

.comments h1,h3{
    color: #f0d8d9;
}

.comments-description{
    
    color: #f0d8d9;
}


.comments__wrapper{
    padding-top: 25px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

}
.contact-form{
    width: 100%;
    padding-top: 17px;
    padding-bottom: 5px;
    
    
}

.contacts{
    padding-left: 20px;
    padding-top:13px;
    max-width: 475px;
}
.contacts h3{
    font-size: 1.9rem;
    line-height: 3rem;
}
.contacts-description {
    
    padding-bottom: 25px;
    font-size: 1.2rem;
    line-height: 2.2rem;
    color: #f0d8d9;
}

.contact-item{
    height: 15px;
    margin-bottom: 7.5px;
    display: flex;
    flex-flow: row nowrap;
    
  
}
.icon{
    width: 15px;
    text-align: center;
}

.contact{
    margin-left: 8px;
    line-height: 0.9rem;
    color: #f0d8d9;
}

input{
    padding: 11px 14px 10px;
    margin-bottom: 16px;
    border-style: none;
    border-radius: 5px;
    color: #f48c8f;
    background-color: #d6564f;
}
textarea{
    height: 202px;
    padding: 7px 14px 10px;
    margin-bottom: 16px;
    border-style: none;
    border-radius: 5px;
    color: #f48c8f;
    background-color: #d6564f;
}


.inputs{
    width: 100%;
}
.inputs:required:valid:not(:placeholder-shown) {
    background-color: rgb(29, 83, 29);
}
  .inputs:required:invalid:not(:placeholder-shown) {
    background-color: rgba(255, 0, 0, 0.404);
}
.inputs::placeholder {
    font-family: "Lato-Regular";
    font-size: 1.2rem;
    line-height: 2.2rem;
    font-weight: 400;
    color: #f48c8f;
}
.contact-form_button{
    margin-bottom: 16px;
    border-style: none;
    border-radius: 5px;
    color: #f48c8f;
    background-color: #d6564f;
    padding: 5px;
    
}
.contact-form_button:hover{
    border-color: #f48c8f;
    box-shadow: inset 0 0 10px #f48c8f;
}

.modal-form{
    position: fixed;
    width: 20vw;
    height: 20vh;
    top: 40%;
    left: 40%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    text-overflow: ellipsis;
 
    background-color: #666d89;
    border-radius: 5px;
    border-width: 5px;
    border-style: solid;
    border-color: #242731;
   
}

.modal-form_closed{
    display: none;
}
.modal-form p,
.modal-form h4{
    color: #2d303a;
    text-align: center;
    font-size: 2rem;
}
.modal-form_close{
    margin: auto;
    color: #2d303a;
    font-size: 2rem;
    background-color: #868ca0;
    border-radius: 5px;
    border-style: none;
}
footer{
    height: 76px;
    background-color: #2d303a;
}
footer p{
    color: #666d89;
}
footer{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.footer_main{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    align-items: center;
    justify-items: flex-start;
}

.footer_social-links{
    width: 151px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-items: flex-start;
   
}

.footer_social-links a{
    padding: 7px;
    margin-right: 10px;
    border-style: solid;
    border-radius: 50%;
    border-width: 1px;
    border-color: #666d89;
    align-content: center;
    justify-content: center;
    
}
.footer_social-links a img{
    font-size: 0;
  
}

.footer_social-links a:hover{
    border-color: #666d89;
    box-shadow: inset 0 0 10px #666d89;
}
/*
@media screen and (max-width: 1019px) {
    .slide-1 img {
      transform: scale(0.85);
    }
  }
  @media screen and (max-width: 900px) {
    .slide-1 img  {
      transform: scale(0.8);
    }
  }
  @media screen and (max-width: 800px) {
    .slide-1 img  {
      transform: scale(0.75);
    }
  }
  @media (max-width: 767px) {
    .slide-1 img  {
      width: 100%;
    }
    .slide-1 img  {
      transform: scale(0.7);
    }
  }
  @media screen and (max-width: 690px) {
    .slide-1 img  {
      transform: scale(0.6);
    }
  }
  @media screen and (max-width: 600px) {
    .slide-1 img  {
      transform: scale(0.5);
    }
  }
  @media screen and (max-width: 500px) {
    .slide-1 img  {
      transform: scale(0.4);
    }
  }
  @media screen and (max-width: 440px) {
    .slide-1 img  {
      transform: scale(0.3681);
    }
  }
  @media (max-width: 374px) {
    .slide-1 img  {
      transform: scale(0.33);
    }
    
  }
  */

@media (max-width: 1019px) {
    .main h1{
        padding-top: 7vw;
    }

    
    .phone__container1{
        width : 23.5vw;
    }
    .phone__container2{
        width : 47.5vw;
    }

    .slider-arrow.left{
        left: 4vw;
    }
    .slider-arrow.right{
        right: 4vw;
    }
    .slide__grid{
        padding-top: 5.2vw;
        padding-bottom: 5.2vw;
        padding-left: 40px;
        padding-right: 40px;
        
      
    }

    .iphone{
        width: 100%;
        height: auto;
       
    }
    
    
    .services_wrapper{
        margin-top: 4vw;
        margin-bottom: 3vw;
        grid-template: auto auto auto/ auto auto;
        
        padding-bottom: 20px;
        gap: 2.6vw 2.6vw;
        justify-content: unset;
    }
    .service-item{
        max-width: 300px;
        margin-bottom: 29px;
        display: grid;
        grid-template: auto auto / auto auto;
        
    }
    .portfolio{
        padding-top: 2vw;
    }
    
    
    .portfolio__wrapper{
        margin-top: 4vw;
        padding-bottom: 8vw;
        grid-template: repeat(4, 1fr) / repeat(3, 1fr);
        
        
    
    }
    .about-us .main {
        min-height: unset;
    }
    .portfolio{
        padding-top: 2vw;
    }
    .about-us{
        padding-top: 1.5vw;
        
    }
    .about-us__persons{
        margin-top: 4.5vw;
        margin-bottom: 9vw;
    }
    .person h3{
        margin-top: 2vw;
        color: #666d89; 
        font-weight: 100;
    }
    
    .person p{
        margin-top: 0vw;
    
    }
    .person__social-links{
        margin-top: 2vw;
        display: flex;
    }
    .comments{
        padding-top: 1.5vw;
    }
    .comments__wrapper {
        padding-top: 1vw;
    }
    .contacts {
        padding-left: 20px;
        padding-top: 13px;
        max-width: 35%;
    }
    textarea {
        height: 150px;
    }
    .comments .main{
        padding-bottom: 3vw;
    }
}

@media (max-width: 767px) {
    
    .ancor-link {
        position: relative;
        top: -70px;
    }
    .header_main{
        height: 65px;    
    }
    .main{
        padding-left: 30px;
        padding-right: 30px;
    }
    .main h1{
        padding-top: 10vw;
    }
    .hamburger{
        display: block;
        

    }
    .header_main {
        padding-left: 15px;
        padding-right: 15px;
    }
    .hamburger__line{
        font-size: 20px;
    }
    .logo h1{
        font-size: 1.8rem;
    }
    .nav-link{
        font-size: 3rem;
    }
    .header_main{
        justify-content: flex-start;
    }

    
    .logo{
        padding-top: 1vw;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        flex-basis: 85%;
        font-size: 2rem;
        

    }
    .logo__mobile-menu{
        flex-basis: 50%;
    }
    nav{
        display: none;
    }
    
    .nav-bar{
        padding-left: 80px;
        height: 100%;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;

    }
    
    .nav__active{
        
        left: 0;
       
        z-index: 2000;
    }

    .slider{
        margin-top: 70px;
        
    }

    .slider-arrow.left{
        left: 4vw;
    }
    .slider-arrow.right{
        right: 4vw;
    }
    .slide__grid{
        padding-top: 5.2vw;
        padding-bottom: 4vw;
        padding-left: 30px;
        padding-right: 30px;
    }
    
    
    .services_wrapper{
       
        margin-top: 6vw;
        grid-template: repeat(6, auto) / auto;
        
        padding-bottom: 10px;
        gap: 25px 20px;
    }
    .service-item{
        margin-bottom: unset;
    }
    .portfolio{
        padding-top: 4vw;
    }
    .portfolio-sort {
        margin-top: 15px;
    }
    .about-us{
        padding-top: 1.5vw;
        
    }
    .portfolio__wrapper{
        grid-template: repeat(6, 1fr) / repeat(2, 1fr);
        
        row-gap: 14px;
        column-gap: 14px;
    }
    .about-us__persons{
        grid-template: repeat(3,auto) / auto;
        justify-content: space-between;
        column-gap: 20px;
        row-gap: 20px;
    }
    .comments__wrapper{
        flex-flow: column nowrap;
        
    
    }
    .contacts{
        padding-left: 0;
        padding-top:13px;
        max-width: unset;
        
    }
    .contact-form_button{
        width: 100%;
        height: 4rem;
        margin-bottom: 16px;
        border-style: none;
        border-radius: 5px;
        color: #f48c8f;
        background-color: #d6564f;
        padding: 5px;
        
    }
    .modal-form{
        
        width: 70vw;
        
        top: 20%;
        left: 20%;
        
        
       
    }
    .modal-form_close{
        width: 100%;
        height: 4rem;
    }
    footer{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }
    
    .footer_main{
        display: none;
        flex-flow: row nowrap;
        width: 100%;
        align-items: center;
        justify-items: flex-start;
    }
    
    .footer_social-links{
        width: 151px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-items: flex-start;
       
    }
    
}

.modal-form_close{
    margin: auto;
    color: #2d303a;
    font-size: 2rem;
    background-color: #868ca0;
    border-radius: 5px;
    border-style: none;
}
